


.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}


/*firstbanner-content styles*/

.firstbanner-content{
    width: 1100px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    color: rgb(13, 19, 33);
    list-style: none;

}

.firstbanner-content1{

    width: 114;
    height: 34;
    font-weight: 700;
    font-size: 18px;
}

.firstbanner-content2{
    font-weight: 700px;
    width: 180;
    height: 24;
    font-size: 12px;
}




/* first banner styles*/

.banner-bg{

    width: 1440;
    height: 652;
    left: 0;
    right: 0;
    top: 131;
    bottom: 4462;
    padding: 1440,662;
}


.banner{
    width: 1000;
    height: 600;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    line-height: 37px;
    text-align: center;
    margin-left: 221px;
    margin-right: 221px;
    margin-top: 50px;
    padding: 0px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}


.banner-content{
   color:rgb(13, 19, 33) ;
   font-size: 36px;
   font-weight: 400px;
   line-height: 68px;
   text-align: center;
   margin-top: 298;
   flex-direction: column;
   justify-content: flex-start;
   gap: 24;
   letter-spacing: 0%;
   margin-left: 221;
   margin-right: 221;
   margin-bottom: 218;
   padding: 48,68;


}

.banner-description{

    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400px;
    letter-spacing: 0%;
    text-align: center;
}

.button-primary{
    padding: 21px,24px,21px,24px;
    font-size: 20px;
    font-weight: 400px;
    width: 208px;
    height: 66px;
    text-align: center;
    letter-spacing: 0%;
    background-color: rgb(13, 19, 33);
    color:rgb(255, 255, 255) ;
}
/*header*/

.header{

    background-image: url("/assets/Hero-bg.png");
}




/* secondary section styles */
/* div styles */

.secondary-section{
    margin-top: 150px;
    margin-left: 292px;
    margin-right: 296px;
    gap: 24px;
    color:rgb(13, 19, 33) ;
    justify-content: flex-start;
    flex-direction: column;
    padding: 852,115;

}
.section-title{
    width: 852;
    height: 39;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0%;
    font-size: 32px;
    padding: 32,37;



}
.section-description{
    width: 852;
    height: 52;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0%;
    text-align: center;
    padding: 16,26;
    line-height: 26px;
    opacity: 0.7;
}


.third-section{
    width: 946;
    height: 336;

    display: flex;
    justify-content: space-between;
    gap: 30;
    padding: 850,240;
    background: rgba(255, 255, 255, 0);
    margin: 150px;
}





.third-content{
width: 300px;
height: 60px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16;
font-weight: 700;
font-size: 16px;
padding: 0px;
color: rgba(13, 19, 33, 0.7);
}

.third-description{

    width: 468px;
    height: 52px;
    gap: 16;
    opacity: 0.7;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(13, 19, 33);
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0%;



}

.third-button{
    width: 150px;
    height: 48px;
    padding: 12px;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    color: rgb(13, 19, 33);
    text-align: center;
    


    
}
.third-img{

    width: 259.56px;
    height: 217.01px;
    left: 0.36%;
    right: -0.36%;
    top: 1.74%;
    bottom: -1.74%;
    display: flex;
    padding: 25,21;


}

/* forth section styles */



.forth-section{
    width: 700px;
    height: 340px;

    display: flex;
    justify-content: space-between;
    gap: 30;
    background: rgba(255, 255, 255, 0);
    margin: 150px;
}

.forth-img{

    width: 223.2px;
    height: 208.85px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.forth-content{
width: 390px;
height: 72px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16;
font-weight: 700;
font-size: 16px;
padding: 0px;
color: rgba(13, 19, 33, 0.7);
}

.forth-description{

    width: 468px;
    height: 52px;
    gap: 16;
    opacity: 0.7;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(13, 19, 33);
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0%;



}

.forth-button{
    width: 150px;
    height: 48px;
    padding: 12px;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    color: rgb(13, 19, 33);
    text-align: center;
    
}


/* fifth section styles */

.fifth-section{
    width: 946;
    height: 336;

    display: flex;
    justify-content: space-between;
    gap: 30;
    padding: 850,240;
    background: rgba(255, 255, 255, 0);
    margin: 150px;
}
.fifth-content{

width: 300px;
height: 60px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16;
font-size: 16px;
font-weight: 700;
padding: 0px;
color: rgba(13, 19, 33, 0.7);
}

.fifth-description{

    width: 468px;
    height: 52px;
    gap: 16;
    opacity: 0.7;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(13, 19, 33);
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0%;
}

.fifth-button{
    width: 150px;
    height: 48px;
    padding: 12px;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    color: rgb(13, 19, 33);
    text-align: center;
    
}
.fifth-img{

    width: 206.4px;
    height: 187.32px;
    left: 8.14%;
    right: -8.14%;
    top: 14.06%;
    bottom: -14.06%;




}

/* sixth section styles */

.sixth-section{

        width: 1000;
        height: 600;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        line-height: 37px;
        text-align: center;
        margin-left: 221px;
        margin-right: 221px;
        margin-top: 50px;
        padding: 0px;
        border-radius: 16px;
    }


.sixth-content{
    width: 852px;
    height: 39px;
    align-items: center;
    padding: 0px;
    margin-top: 168;
    font-size: 24px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0%;
    color: rgb(13, 19, 33); 


}

.sixth-description{

    width: 900px;
    height: 56px;
    align-items: center;
    margin: 24px,0px;
    opacity: 0.7;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    color:rgb(13, 19, 33) ;

}

/* seventh section styles */

.seventh-section{

    width: 1000;
    height: 600;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    line-height: 37px;
    text-align: center;
    margin-left: 221px;
    margin-right: 221px;
    margin-top: 50px;
    padding: 0px;
    border-radius: 16px;
}


.seventh-content{

width: 852px;
height: 39px;
align-items: center;
padding: 0px;
margin-top: 168;
font-size: 24px;
font-weight: 800;
line-height: 37px;
text-align: center;
letter-spacing: 0%;
color: rgb(13, 19, 33); 


}

.seventh-description{

width: 900px;
height: 56px;
align-items: center;
margin: 24px,0px;
opacity: 0.7;
font-size: 12px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
color:rgb(13, 19, 33) ;

}



/*skill section style*/

.skill-section{
    width: 900;
    height: 400;
    display: flex;
    justify-content: flex-start;
    line-height: 37px;
    margin-left: 221px;
    margin-right: 221px;
    margin-top: 50px;
    padding: 0px;
    border-radius: 16px;
    }

.skill-1{

    width: 364px;
    height: 300px;
    margin: 0px,40px;
    padding: 40px;
}

.skill-1image{

    width: 56px;
    height: 56px;
    margin: 24px,0px;

}

.skill-1title{

    width: 284px;
    height: 36px;
    justify-content: space-between;
    margin: 8px,0px;
    color: rgb(13, 19, 33);

    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
}


.skill-1description{

    width: 284px;
    height: 52px;
    margin: 8px,6px;
    overflow: 0.7;
    color:rgb(13, 19, 33) ;

    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}


.skill-1link{

    width: 284px;
    height: 20px;

    margin: 24px,0px;
    color:rgb(13, 19, 33) ;

    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-decoration-line: underline;


}



.skill-2{

   
    width: 364px;
    height: 300px;
    margin: 0px,40px;
    padding: 40px;
}



.skill-2image{

    width: 39.67px;
    height: 44.99px;
    margin: 24px,0px;
    left: 8.16px;
    top: 11.01px;

}


.skill-2title{

    width: 284px;
    height: 36px;
    margin: 8px,0px;
    color: rgb(13, 19, 33);

    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
}

.skill-2description{

    width: 284px;
    height: 52px;
    margin: 8px,6px;
    overflow: 0.7;
    color:rgb(13, 19, 33) ;

    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}


.skill-2link{
    width: 284px;
    height: 20px;
    margin: 24px,0px;
    color:rgb(13, 19, 33) ;

    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-decoration-line: underline;


}

.skill-3{


   
    width: 364px;
    height: 300px;
    margin: 0px,40px;
    padding: 40px;

}



.skill-3image{

    width: 56px;
    height: 56px;
    margin: 24px,0px;
    background-color:rgb(255, 223, 0) ;

}

.skill-3title{

    width: 284px;
    height: 36px;
    margin: 8px,0px;
    color: rgb(13, 19, 33);

    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
}


.skill-3description{

    width: 284px;
    height: 52px;
    margin: 8px,0px;
    overflow: 0.7;
    color:rgb(13, 19, 33) ;

    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}


.skill-3link{

    width: 284px;
    height: 52px;
    margin: 24px,0px;
    color:rgb(13, 19, 33) ;

    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;


}


/*ninth section styles*/

.ninth-section{

    width: 1000;
    height: 600;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    line-height: 37px;
    text-align: center;
    margin-left: 221px;
    margin-right: 221px;
    margin-top: 50px;
    padding: 0px;
    border-radius: 16px;
}


.ninth-content{

width: 852px;
height: 39px;
align-items: center;
padding: 0px;
margin-top: 168;
font-size: 20px;
font-weight: 800;
line-height: 37px;
text-align: center;
letter-spacing: 0%;
color: rgb(13, 19, 33); 


}

.ninth-description{

width: 900px;
height: 56px;
align-items: center;
margin: 24px,0px;
opacity: 0.7;
font-size: 12px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
color:rgb(13, 19, 33) ;

}



/*2nd skill-section style*/



.secondskill-section{

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 37px;
    margin-left: 150px;
    margin-top: 50px;
    padding: 0px;
    border-radius: 16px;
}

.skill-4image{


    width: 143.3px;
    height: 88px;
    margin: 0px,24px;
    left: 0.07px;
    top: 0px;
    background: rgb(51, 51, 51);



}

.skill-4title{


    width: 94px;
    height: 36px;
    margin: 8px,0px;
    color: rgb(13, 19, 33);

    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
}

.skill-4description{


    width: 950px;
    height: 56px;
    margin: 8px,0px;
    overflow: 0.7;
    color:rgb(13, 19, 33) ;

    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

.skill-4link{

    width: 991.22px;
    height: 19px;
    margin: 24px,0px;
    color:rgb(13, 19, 33) ;

    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-decoration-line: underline;



}


.thirdskill-section{

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 37px;
    margin-left: 150px;
    margin-top: 50px;
    padding: 0px;
    border-radius: 16px;
}



.skill-5image{


    width: 50px;
    height: 30px;
    margin: 0px,24px;
    left: 0.07px;
    top: 0px;
    background: rgb(51, 51, 51);



}

.skill-5title{


    width: 94px;
    height: 36px;
    margin: 8px,0px;
    color: rgb(13, 19, 33);

    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
}

.skill-5description{


    width: 950px;
    height: 56px;
    margin: 8px,0px;
    overflow: 0.7;
    color:rgb(13, 19, 33) ;

    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

.skill-5link{

    width: 991.22px;
    height: 19px;
    margin: 24px,0px;
    color:rgb(13, 19, 33) ;

    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-decoration-line: underline;

}


.forthskill-section{

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 37px;
    margin-left: 150px;
    margin-top: 50px;
    padding: 0px;
    border-radius: 16px;
}

.skill-6title{
    width: 94px;
    height: 36px;
    margin: 8px,0px;
    color: rgb(13, 19, 33);

    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
}

.skill-6description{


    width: 950px;
    height: 56px;
    margin: 8px,0px;
    overflow: 0.7;
    color:rgb(13, 19, 33) ;

    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

.skill-6link{

    width: 991.22px;
    height: 19px;
    margin: 24px,0px;
    color:rgb(13, 19, 33) ;

    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-decoration-line: underline;


}



